html, body{
  height: 100%;
  min-height: 100%;
  background-color: var(--color-background);
}
*{
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins';
}

.container{
  /* background-color: blue; */
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.headerImage{
  margin-top: -1%;
}
.headerImage img{
  height: 170px;
  width: 170px;
}
.content h1{
  color: var(--color-primary);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
}
.input-underlined > input, input {
	border: none;
	border-bottom: 0.125rem solid var(--color-primary);
	width: 100%;
	height: 2rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}

.input-underlined > input:focus, input:focus {
	outline: none;
}

.input-underlined > .input-label, .input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--color-primary);
	transition: top .2s;
}

.input-underlined > input:hover, input:hover {
	border-color: var(--color-primary);
}

.input-underlined > input:focus + .input-label,
.input-underlined > input:valid + .input-label, input:focus + .input-label, input:valid + .input-label {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 32px;;
}

.input-underlined > input {
  background: transparent;
  color: white;
  font-size: 14px;
}

.button-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group button{
  padding: 13px 48px;
  background: transparent;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 10px;
  margin-top: 10%;
  font-size: 15px;
}
.button-group button:hover {
  transition: 0.3s;
	background-color: var(--color-primary);
  color: white;
}