@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
  --color-background: #040900;
  --color-primary: #47B42C;
  --color-secondary: #BE24A7;
}