* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
}

.menu {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--in-background);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 5;
  transition: 0.8s ease-in-out;
}
.menu.active {
  left: 0;
}
.menu .menu-content ul {
  padding: 80px;
  list-style: none;
}
.menu .menu-content ul li {
  padding: 15px;
  text-align: center;
}
.menu .menu-content ul li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: var(--color-secondary);
  text-transform: uppercase;

  transition: all 0.8s;
}
.menu .menu-content ul li:hover a {
  border-bottom: 2px solid var(--color-secondary);
  font-size: 30px;
  text-shadow: 0 0 1.4px var(--color-secondary);
}
.menu svg {
  position: absolute;
  font-size: 40px;
  fill: var(--white-primary);

  top: 50px;
  right: 100px;
  background: var(--color-secondary);
  border-radius: 50%;

  transition: 0.6s;
}
.menu svg:hover {
  fill: var(--color-secondary);
  background: var(--white-secondary);
}
.menu {
  animation: shadowMenu 10s linear infinite;
}
@keyframes shadowMenu {
  0% {
    box-shadow: inset 0 0 10px var(--color-secondary);
  }
  25% {
    box-shadow: inset 0 0 20px var(--color-primary);
  }
  50% {
    box-shadow: inset 0 0 30px var(--color-secondary);
  }
  75% {
    box-shadow: inset 0 0 20px var(--color-primary);
  }
  100% {
    box-shadow: inset 0 0 10px var(--color-secondary);
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 0 135px;

  background: var(--in-background);
}

header .report {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary);
}

header .report svg {
  font-size: 35px;
  color: var(--color-primary);
  margin-right: 10px;
}

header .report:hover svg,
header .report:hover b {
  filter: brightness(0.8);
}

header img {
  max-height: 70px;
}

header .logout svg {
  font-size: 35px;
  color: var(--color-primary);
}

header .logout:hover {
  filter: brightness(0.8);
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: var(--in-background);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0, 0.2);

  overflow: hidden;
  transition: 0.6s;
}

.container .card::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.container .card .content {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .card .content h2 {
  position: absolute;
  right: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: var(--color-primary);
  z-index: 1;
  opacity: 0.1;
  transition: 0.5s;
}

.container .card:hover .content h2 {
  opacity: 1;
  transform: translatey(-70px);
}

.container .card .content h3 {
  position: relative;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: var(--white-primary);
  z-index: 2;
  opacity: 0.5;
  letter-spacing: 1px;
  transition: 0.5s;
}

.container .card:hover .content h3 {
  opacity: 1;
}

.container .card .content p {
  position: relative;
  margin-top: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  color: var(--white-secondary);
  z-index: 2;
  opacity: 0.5;
  letter-spacing: 1px;
  font-weight: 300;
  transition: 0.5s;
}

.container .card:hover .content p {
  opacity: 1;
}

.container .card .content .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .card .content .button a {
  width: 200px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  color: var(--color-primary);

  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;

  border: 1px solid var(--color-primary);
  border-radius: 5px;

  transition: 0.4s;
}

.container .card .content .button a:hover {
  background: var(--color-primary);
  color: var(--white-primary);
}

.container .card span {
  transition: 0.5s;
  opacity: 0;
}

.container .card:hover span {
  opacity: 1;
}

.container .card span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, var(--color-primary));
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.container .card span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--color-primary));
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.container .card span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, var(--color-primary));
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container .card span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, var(--color-primary));
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.container .card {
  opacity: 0.5;
}
.container .card:hover {
  opacity: 1;
  box-shadow: 0 0 8px var(--color-primary);
}

.container .card:hover .content .button a {
  box-shadow: 0 0 3px var(--color-primary);
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;

  background: var(--in-background);
}
footer img {
  max-height: 70px;
}

footer p {
  color: var(--white-secondary);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
footer p b {
  font-weight: 700;
}

footer p a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.3s;
}
footer p a:hover {
  color: var(--color-secondary);
}

@media (max-width: 480px) {
  footer {
    flex-direction: column;
    height: 80px;
  }
  footer p {
    margin: 5px 0;
  }
}
