* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background: var(--color-background);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 0 135px;

  background: var(--in-background);
}

header .back {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary);
}

header .back svg {
  font-size: 35px;
  color: var(--color-primary);
  margin-right: 10px;
}

header .back:hover svg {
  filter: brightness(0.8);
}

header img {
  max-height: 70px;
}

header .plus svg {
  font-size: 35px;
  color: var(--color-primary);
}

header .plus:hover {
  filter: brightness(0.8);
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

table {
  margin-top: 50px;
  border: 1px solid #be24a7;
  box-shadow: 0 0 5px #be24a7;
  background: #121212 !important;

  width: 98%;
  max-width: 1100px;
  border-collapse: collapse;
  text-align: left;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

table thead tr th {
  color: #be24a7;
  border-top: 1px solid #be24a7 !important;
  border-bottom: 1px solid #be24a7 !important;

  padding: 8px;
}
table tbody tr th,
table tbody tr td {
  border: none !important;
  padding: 8px;

  color: var(--white-primary);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions svg {
  font-size: 25px;
  color: #be24a7;
  opacity: 0.6;

  transition: all 0.5s;
}
.actions svg:hover {
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;

  background: var(--in-background);
}
footer img {
  max-height: 70px;
}

footer p {
  color: var(--white-secondary);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
footer p b {
  font-weight: 700;
}

footer p a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.3s;
}
footer p a:hover {
  color: var(--color-secondary);
}

@media (max-width: 720px) {
  header {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 50px;
    grid-template-areas: 'logo logo' 'rela create';
  }
  header img {
    grid-area: logo;
    justify-self: center;
    max-height: 50px;
  }
  header .back {
    grid-area: rela;
    justify-content: center;
    width: auto;
    font-size: 16px;
    justify-self: center;
  }
  header .back svg {
    font-size: 24px;
  }
  header .plus {
    grid-area: create;
    justify-content: center;
    width: auto;
    font-size: 16px;
    justify-self: center;
  }
  header .plus svg {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  table {
    font-size: 14px;
  }
  table .actions svg {
    font-size: 20px;
  }

  footer {
    flex-direction: column;
    height: 100px;
  }
  footer p {
    margin: 5px 0;
  }
  footer img {
    max-height: 50px;
  }
}
